@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Ubuntu", sans-serif;
    color: #323232;
  }
  input,
  textarea,
  select,
  button {
    outline: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: #323232;
  }
  .layout-container {
    width: 100%;
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .gradientBlue {
    background-image: radial-gradient(64% 195.84% at 96.3% 9%, #6cddff 0%, #58c4e4 100%);
  }
  .gradientYellow {
    background-image: radial-gradient(97.53% 455.04% at 0% 100%, #fbd103 70.66%, #ffe14b 100%);
  }
  .gradientLight {
    background-image: radial-gradient(117.12% 839.63% at 5.3% 76.06%, #edeef2 0%, #ecf0f3 100%);
  }
}

@layer components {
  .header-action-item {
    @apply relative after:absolute after:top-[-10px] after:right-[-10px] after:w-5 after:h-5 after:rounded-full after:bg-yellowfb after:flex after:items-center after:justify-center after:text-[12px] font-medium;
  }
  .button-shopnow-green {
    @apply bg-green00 rounded-[1000px] py-6 w-[224px] text-white font-bold;
  }
  .button-shopnow-white {
    @apply mt-8 w-[174px] h-[52px] rounded-[1000px] bg-white text-lg font-medium;
  }
  .heading {
    @apply font-bold text-6xl leading-[69px] text-black32 text-center;
  }
  .description {
    @apply mt-[11px] text-xl text-opacity-50 text-black32 leading-[23px] text-center;
  }
  .button-tab-normal {
    @apply w-[100px] h-10 rounded-[1000px] text-opacity-50 border-[1px] text-black32 border-[#c4c4c4];
  }
}
